.container {
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.about {
  height: 90vh;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.aboutContent {
  margin-top: 100px;
  display: grid;
  width: 60vw;
  grid-template-columns: 3fr 2fr;
  column-gap: 10px;
  align-items: center;
  text-align: left;
  line-height: 1.5em;
}

@media (max-width: 1000px) {
  .aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }
}

.profileImg {
  width: auto;
  height: 40vh;
}

.projects {
  min-height: 100vh;
  width: auto;
  /* padding-top: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  column-gap: 20px;
  row-gap: 20px;
  /* height: 80vh; */
  /* width: 90vw; */
  /* row-gap: 10px; */
}

@media (max-width: 1000px) {
  .projectCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* .carousel {
  margin-top: 60px;
  height: 62vh;
  width: 70vw;
} */

.contact {
  height: 90vh;
  padding-bottom: 100px;
  /* padding-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContent {
  margin-top: 100px;
  width: 450px;
  height: 300px;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  border-radius: 16px;
  color: #fff;
  padding: 0 60px 40px 50px;
  display: grid;
  grid-template-rows: 40% repeat(3, 20%);
  align-items: center;
  text-align: left;
  justify-content: left;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .contactContent {
    width: 300px;
    height: 200px;
    padding: 0 40px 30px 40px;
    font-size: 13px;
  }
}

.contactContent:hover {
  transform: scale(1.02) rotate(1deg);
  transition: 0.3s ease-in-out;
}

.name {
  font-size: 18px;
  font-weight: 600;
}
