.container {
  height: 55vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  color: #fff;
  font-family: 'Courier', Times, serif;
}

.img {
  width: auto;
  height: 52vh;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.img:hover {
  box-shadow: 1px 1px 10px #fff;
  transition: 0.2s ease-in-out;
}

.content {
  font-size: 14px;
  font-weight: 400;
  width: 25vw;
  text-align: left;
  margin: auto;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.desc {
  margin-bottom: 50px;
}

.content a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 4px 8px;
  width: 80px;
  height: 30px;
  margin-right: 10px;
  border-radius: 6px;
}

.content a:hover {
  border: 1px solid lightblue;
  color: lightblue;
}
