.container {
  height: 32vh;
  width: 32vw;
  color: #fff;
  font-family: "Courier", Times, serif;
  /* position: relative; */
}

.img {
  width: 32vw;
  height: 32vh;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: absolute;
}

.img:hover {
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  width: 32vw;
  height: 32vh;
  text-align: left;
  /* margin: auto; */
  padding: 20px 32px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #d5d5d3;
  color: #29211f;
  text-decoration: none;
  line-height: 20px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6%;
  text-align: center;
}

/* .desc {
  margin-bottom: 40px;
} */

/* .content a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 4px 8px;
  width: 80px;
  height: 30px;
  margin-right: 10px;
  border-radius: 6px;
} */

/* .content a:hover {
  border: 1px solid lightblue;
  color: lightblue;
} */

.icon {
  height: 24px;
  width: 100%;
  margin-top: 6%;
}
