.header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 8vh;
  width: 100%;
  /* background-color: var(--header-bg-color); */
  background-color: transparent;
  /* border: 1px solid #676767; */
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  position: fixed;
  z-index: 20;
}

@media (max-width: 1000px) {
  .header {
    grid-template-columns: 1fr 3fr;
    font-size: 14px;
    max-width: 100%;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 3;
  column-gap: 2px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .menu {
    grid-column: 2;
    width: 100%;
  }
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: lightblue;
}
